# ITCS 3162 - Assignment 0

Introduction to Python Programming

### Name: Khem Khadka

### Submission instructions

- Enter your name in the space above.  
- Save your completed json as *itcs3162_assignment_0_**\<uncc username>**.ipynb*.
- Upload **both** the **ipynb** file and the **html** file version of your completed notebook to Canvas.  

You can download the notebook in html format by going to *File --> Download as --> HTML*

## Problem 1:

Prompt the user to input an integer and store it in a variable. Ensure that the user input is a valid integer. If it is not, use a loop to re-prompt the user for input until a valid number is entered.

In [ ]:
while True:
    try:
        my_int = int(input("Enter an integer "))
        break
    except:
        print("Invalid input. Follow the direction carefully!")


- Print the type of stored user input
- Print the square of the input number
- Print the remainder when the input number is divided by 7

In [ ]:
print(type(my_int))

In [ ]:
print(my_int**2)

In [ ]:
print(my_int%7)

## Problem 2:

Define a function that will return a list of the first *n* numbers in the Fibonacci sequence.

In [1]:
#Initializing Fibonacci sequence with its first two terms. 
fib_list = []
def fib_sequence(n):
    if n <=0:
        return 'Invalid value of n'
    elif n == 1:
        fib_list.append(0)
        return fib_list
    elif n == 2:
        fib_list.append(0,1)
        return fib_list
    else:
        
        #initialize first and second term in the sequence
        first_term = 0
        second_term = 1
        fib_list.extend([0,1])

        for x in range(2,n):
            #range starts from 2 as first two are already in the list.
            #initialize a third term to store the value of first_term + second_term
            next_term = first_term + second_term
            first_term = second_term # swap the value of first_term with second
            second_term = next_term # set second to the next_term which is sum of previous two terms.
            #Add next term to the list
            fib_list.append(next_term)
    return fib_list

# Call the Function        
fib_sequence(10)

print(fib_list)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

- Print the first **10** numbers in the Fibonacci sequence as a string of comma-separated values
- Print the total sum of the first 10 Fibonnaci numbers
- Print your list of Fibonnaci numbers in reverse sorted order (greatest --> smallest)

In [5]:
#Frist 10 numbers in Fibonacci sequence as string of commas separated value
string_list = [str(x) for x in fib_list]
string_list

['0', '1', '1', '2', '3', '5', '8', '13', '21', '34']

In [83]:
#SUM of firts 10 numbers in the list
sum(fib_list)

88

In [82]:
#Fibonacci sequence in reverse order:


print(fib_list[::-1])

[34, 21, 13, 8, 5, 3, 2, 1, 1, 0]

## Problem 3:

This problem will use the provided *states.json* file that you can download from Canvas. Ensure that the data file is in the same directory as your jupyter notebook.

In the Markdown cell below, describe the structure of the json file in your own words. Think in terms of the data structures and data types used by Python.

Read in the *states.json* file using Python's built-in json library

In [9]:
import pandas as pd
import json
            
with open('states.json') as file:
    states_data = json.load(file)
    #states_df=pd.DataFrame(data)
states_data
#states = states_df.columns
#regions = list(states_df.index.name['region'])


#- Print the length of your dictionary

len(states_data)

50


- Extract the list of all state names, and print the state names in alphabetical order

In [10]:
states_alphabetically = [states for states, info in states_data.items() ]
states_alphabetically.sort()
print("US states sorted alphabatically:")
print(states_alphabetically)

US states sorted alphabatically:
['alabama', 'alaska', 'arizona', 'arkansas', 'california', 'colorado', 'connecticut', 'delaware', 'florida', 'georgia', 'hawaii', 'idaho', 'illinois', 'indiana', 'iowa', 'kansas', 'kentucky', 'louisiana', 'maine', 'maryland', 'massachusetts', 'michigan', 'minnesota', 'mississippi', 'missouri', 'montana', 'nebraska', 'nevada', 'new hampshire', 'new jersey', 'new mexico', 'new york', 'north carolina', 'north dakota', 'ohio', 'oklahoma', 'oregon', 'pennsylvania', 'rhode island', 'south carolina', 'south dakota', 'tennessee', 'texas', 'utah', 'vermont', 'virginia', 'washington', 'west virginia', 'wisconsin', 'wyoming']

Split the state names into separate lists by which U.S. Census region the state belongs to. Print the resulting regional state lists  
**Note**: This should require only a single for loop to create all of the lists

In [11]:
state_region = [[state, info['region']] for state, info in states_data.items()]

region = set([list[1] for list in state_region]) # stored as set so as not to repeat the region's name in the list
print(region)
grouped_by_region = [[list[0] for list in state_region if list[1] == values] for values in region]
print(grouped_by_region)

{'pacific', 'south', 'northeast', 'west', 'midwest'}
[['alaska', 'hawaii'], ['oklahoma', 'texas', 'arkansas', 'louisiana', 'kentucky', 'tennessee', 'mississippi', 'alabama', 'florida', 'georgia', 'south carolina', 'north carolina', 'virginia', 'west virginia', 'maryland', 'delaware'], ['pennsylvania', 'new jersey', 'new york', 'connecticut', 'massachusetts', 'vermont', 'new hampshire', 'rhode island', 'maine'], ['washington', 'oregon', 'california', 'idaho', 'nevada', 'utah', 'arizona', 'montana', 'wyoming', 'colorado', 'new mexico'], ['north dakota', 'south dakota', 'nebraska', 'kansas', 'minnesota', 'iowa', 'missouri', 'wisconsin', 'illinois', 'michigan', 'indiana', 'ohio']]


Print the state names in order by the year they joined the United States.

In [14]:
state_year = [[state, info['year_joined']] for state, info in states_data.items()]
#sort by year_joined
state_year.sort(key=lambda x: x[1], reverse = False) # list begins with the state which joined the union first.
#print(state_year)
print([state for state, year in state_year])

['delaware', 'pennsylvania', 'new jersey', 'georgia', 'south carolina', 'virginia', 'maryland', 'new york', 'connecticut', 'massachusetts', 'new hampshire', 'north carolina', 'rhode island', 'vermont', 'kentucky', 'tennessee', 'ohio', 'louisiana', 'indiana', 'mississippi', 'illinois', 'alabama', 'maine', 'missouri', 'arkansas', 'michigan', 'texas', 'florida', 'iowa', 'wisconsin', 'california', 'minnesota', 'oregon', 'kansas', 'west virginia', 'nevada', 'nebraska', 'colorado', 'washington', 'montana', 'north dakota', 'south dakota', 'idaho', 'wyoming', 'utah', 'oklahoma', 'arizona', 'new mexico', 'alaska', 'hawaii']

Delete your least favorite state from the dictionary. This operation should be done in-place  
Print the length of the updated dictionary

In [119]:
del states_data['maine']
len(states_data)

SyntaxError: invalid syntax (<ipython-input-119-edcf6b008d4d>, line 1)

Add your favorite country to the dictionary. This operation should be done in-place.  
The key should be the country name. The value should be a dictionary containing the country's language and the year it joined the U.N.

In [121]:
states_data['India'] = {'year_joined': 1945, 'Language': 'Hindi'}
states_data

{'alaska': {'year_joined': 1959, 'region': 'pacific'},
 'hawaii': {'year_joined': 1959, 'region': 'pacific'},
 'washington': {'year_joined': 1889, 'region': 'west'},
 'oregon': {'year_joined': 1859, 'region': 'west'},
 'california': {'year_joined': 1850, 'region': 'west'},
 'idaho': {'year_joined': 1890, 'region': 'west'},
 'nevada': {'year_joined': 1864, 'region': 'west'},
 'utah': {'year_joined': 1896, 'region': 'west'},
 'arizona': {'year_joined': 1912, 'region': 'west'},
 'montana': {'year_joined': 1889, 'region': 'west'},
 'wyoming': {'year_joined': 1890, 'region': 'west'},
 'colorado': {'year_joined': 1876, 'region': 'west'},
 'new mexico': {'year_joined': 1912, 'region': 'west'},
 'north dakota': {'year_joined': 1889, 'region': 'midwest'},
 'south dakota': {'year_joined': 1889, 'region': 'midwest'},
 'nebraska': {'year_joined': 1867, 'region': 'midwest'},
 'kansas': {'year_joined': 1861, 'region': 'midwest'},
 'oklahoma': {'year_joined': 1907, 'region': 'south'},
 'texas': {'year_joined': 1845, 'region': 'south'},
 'minnesota': {'year_joined': 1858, 'region': 'midwest'},
 'iowa': {'year_joined': 1846, 'region': 'midwest'},
 'missouri': {'year_joined': 1821, 'region': 'midwest'},
 'arkansas': {'year_joined': 1836, 'region': 'south'},
 'louisiana': {'year_joined': 1812, 'region': 'south'},
 'wisconsin': {'year_joined': 1848, 'region': 'midwest'},
 'illinois': {'year_joined': 1818, 'region': 'midwest'},
 'michigan': {'year_joined': 1837, 'region': 'midwest'},
 'indiana': {'year_joined': 1816, 'region': 'midwest'},
 'ohio': {'year_joined': 1803, 'region': 'midwest'},
 'kentucky': {'year_joined': 1792, 'region': 'south'},
 'tennessee': {'year_joined': 1796, 'region': 'south'},
 'mississippi': {'year_joined': 1817, 'region': 'south'},
 'alabama': {'year_joined': 1819, 'region': 'south'},
 'florida': {'year_joined': 1845, 'region': 'south'},
 'georgia': {'year_joined': 1788, 'region': 'south'},
 'south carolina': {'year_joined': 1788, 'region': 'south'},
 'north carolina': {'year_joined': 1789, 'region': 'south'},
 'virginia': {'year_joined': 1788, 'region': 'south'},
 'west virginia': {'year_joined': 1863, 'region': 'south'},
 'maryland': {'year_joined': 1788, 'region': 'south'},
 'delaware': {'year_joined': 1787, 'region': 'south'},
 'pennsylvania': {'year_joined': 1787, 'region': 'northeast'},
 'new jersey': {'year_joined': 1787, 'region': 'northeast'},
 'new york': {'year_joined': 1788, 'region': 'northeast'},
 'connecticut': {'year_joined': 1788, 'region': 'northeast'},
 'massachusetts': {'year_joined': 1788, 'region': 'northeast'},
 'vermont': {'year_joined': 1791, 'region': 'northeast'},
 'new hampshire': {'year_joined': 1788, 'region': 'northeast'},
 'rhode island': {'year_joined': 1790, 'region': 'northeast'},
 'India': {'year_joined': 1945, 'Language': 'Hindi'}}

- Print the length of the updated dictionary
- Print out the country's entry from the dictionary

In [123]:
print(len(states_data))
print(states_data['India'].items())

50
dict_items([('year_joined', 1945), ('Language', 'Hindi')])

## Problem 4

List comprehension practice

In [22]:
nums = list(range(100))  # Initial list of numbers from 0 - 99

Use a list comprehension to create a list of all the numbers that are divisible by 11

In [23]:
div_by11 = [x for x in nums if x%11 == 0]

In [24]:
print(div_by11)

[0, 11, 22, 33, 44, 55, 66, 77, 88, 99]

Use a list comprehension to create a list with only the positive numbers. If a number is negative, store **None** in the new list instead

In [25]:
nums = [34.6, -203.4, 44.9, 68.3, -12.2, 44.6, 12.7]

In [26]:
positive_in_nums = [x for x in nums if x > 0]

In [27]:
print(positive_in_nums)

[34.6, 44.9, 68.3, 44.6, 12.7]

Use a list comprehension to count the number of vowels in the sentence below

In [29]:
sentence = 'The quick brown fox jumps over the lazy dog'

In [30]:
len([x for x in sentence if x == 'a' or x == 'e' or x == 'i' or x == 'o' or x == 'u'])

11

Split the above sentence into a list of words

In [31]:
word_list = list(sentence.split(' '))
word_list

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

Use a dictionary comprehension to count the length of each word in the sentence

In [32]:
word_length = [len(x) for x in word_list].
word_length

[3, 5, 5, 3, 5, 4, 3, 4, 3]

Print each of the words sorted by its length (shortest --> longest)

In [36]:
print(sorted(word_list, key=len))

['The', 'fox', 'the', 'dog', 'over', 'lazy', 'quick', 'brown', 'jumps']

## Problem 5

Below is an Python function and an example of the input and output of this function. In the Markdown cell below the example, describe in your own words what each step of the *process_tweets* function is doing. Be specific in your description

In [124]:
def process_tweets(tweet_json, language='en'):
    post_dict = {}
    for tweet_id, tweet_data in tweet_json.items():
        try:
            if tweet_data['language'] == language:
                text = tweet_data['body'].lower().strip()
                
                post_dict[tweet_id] = {
                    'raw_text': tweet_data['body'],
                    'text': text,
                    'num_tokens': len(text.split())
                }
        except KeyError:
            continue
    
    return post_dict

In [125]:
tweet_json = {
    123456: {'language': 'en', 'user': 'user123', 'body': 'Hello friends'},
    789012: {'user': 'asdf', 'language': 'es', 'body': 'Hola Amigos'},
    543876: {'user': '__abcdef__', 'language': 'en', 'body': 'ToTaLLy nOt a BoT aCCouNt.'},
    623432: {'user': None}
}

In [126]:
en_posts = process_tweets(tweet_json)
en_posts

{123456: {'raw_text': 'Hello friends',
  'text': 'hello friends',
  'num_tokens': 2},
 543876: {'raw_text': 'ToTaLLy nOt a BoT aCCouNt.',
  'text': 'totally not a bot account.',
  'num_tokens': 5}}

In [127]:
es_posts = process_tweets(tweet_json, language='es')
es_posts

{789012: {'raw_text': 'Hola Amigos', 'text': 'hola amigos', 'num_tokens': 2}}

'process_tweets' function takes two arguments. The first argument is the dictionary of tweets for different users, and the second argument is the language of the tweet. It first initializes an empty dictionary. It loops through the items in the tweet_json dictionary file and if the language of the tweet is 'eng' it converst the 'body' of the tweet to lower case and removes any special characters at the beginning or the end of the 'body' of the tweet and stores the string in a variable named 'text'. Then, it prints the number of tokens in the 'body' of the tweet. If the 'language' is 'es', it converts the body of text into lower cases and prints with number of tokens in the 'body' of the tweet.